@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.whole {
  height: 200px;
  width: 200px;
  border: 5px solid transparent;
  text-align: center;
}

body {
  background-color: #E63946;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  position: relative;
  top: -10px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 30px;
}

#increase {
  background-color: transparent;
  z-index: 10;
 position: relative;
 right: 60px;
  top: -25px;
  height: 32px;
  width: 36px;
  font-size: 32px;
  border: none;
  color: white;
}

#decrease {
  background-color: transparent;
  z-index: 10;
  position: relative;
 left: 100px;
  top: -25px;
  height: 32px;
  width: 36px;
  font-size: 40px;
  line-height: 0.7;
  border: none;
  color: white;
}

#reset {
  background-color: transparent;
  position: relative;
  top: 30px;
  left: 30px;
  height: 30px;
  width: 50px;
  font-size: 15px;
  border: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.timer {
  position: relative;
  top: 10px;
}

.pause {
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  display: none;
  position: relative;
  right: 60px;
  top: ;
  height: 30px;
  width: 50px;
  font-size: 15px;
  border: none;
}

.start {
  position: relative;
  top: ;
  right: 60px;
  height: 30px;
  width: 50px;
  font-size: 15px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: transparent;
}
